body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: orange;
    color: white;
    padding: 20px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a.link,
a:visited {
    color: orangered;
}
a:hover {
    color: red;
} 
a:active {
    color: black;
}

.gomain {
    background-color: orange;
    color: white;
    padding: 10px;
}
